<!DOCTYPE html>
<html>
<head>
  <title><%=html_title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->  
  <%= erb :"layout/css_files" %>  
</head>
<body style='overflow-x: hidden;'>  
  <div class='' style='background-color: whitesmoke;'>    
    <%= erb :"layout/flash" %>        
    <%= erb :'layout/js_scripts' %>   
    <%= erb :'vue_templates' %>   
    <%= erb :"header" %>     
    <div class='container' style='min-height: 500px'>
      <%= yield %> 
    </div>
    <%= erb :"footer" %>           
  </div>  
</body>
</html>
