<!DOCTYPE html>
<html>
    <%= erb :'layout/doc_head' %>
<body style='overflow-x: hidden;'>  
  <div class='' style='background-color: whitesmoke;'>    
    <%= erb :"layout/flash" %>        
    
    <%= erb :'all_templates' %>   

    <%= erb :'header' %>   
    <div class='container' style='min-height: 500px'>
      <%= yield %> 
    </div>
    <%= erb :"footer" %>           
  </div>  
</body>
</html>
